

h1, h4, h5, p, a, blockquote, strong, span, li, table{
  font-family: 'Public Sans';
  width:77%;
  margin-left:7%;
  font-weight: 400;
  
}
p{
font-size: 20;
}
li{
font-size: 18.5px;
width: 77%;
}

.intro{

color: #222A3A;

}
h4{

height: 47px;
font-family: 'Public Sans';
font-style: normal;
font-weight: 700;
font-size:27px;

color: #222A3A;
flex: none;
order: 1;
flex-grow: 0;
margin-bottom:-1%;
}
h5{
font-size: 24px;
font-weight:600;
}

td, th{
border: 1px dashed #F2F5F9;
background-color: #FFFFFF;
font-size: 14px;
}
