/* .privacy-header {
  background-color: #161d37;
  padding: 220px;
}
.privacy-logo-txt {
  position: absolute;
  left: 4%;
  top: 4%;
}
.privacy-menu-group {
  position: absolute;
  left: 20%;
  top: 4%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  font-size: 17px;
  width: 50%;
}

.privacy-menu {
  font-size: 18px;

  color: #ffffff;
  text-decoration: none;
}
a {
  text-decoration: none;
}
a:hover,
button:hover {
  color: rgba(104, 123, 254, 1);
  border-color: rgba(104, 123, 254, 1);
}

.privacy-btn-group {
  position: absolute;
  left: 80%;
  top: 4%;
  display: flex;
  gap: 5px;
  justify-content: space-around;
  align-items: top;
  width: 18%;
  font-size: 18px;
}

.privacy-login-btn {
  background-color: #161d37;
  padding-right: 10px;
  text-decoration: none;
  color: #ffffff;
}
.privacy-join-btn {
  width: 90%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #161d37;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  color: #ffffff;
  margin-top: -14px;
  text-align: center;
}
.privacy-title {
  position: absolute;
  left: 15%;
  width: 70%;
  top: 14%;
  text-align: center;
}
.privacy-title-txt {
  color: #ffffff;
  font-size: 80px;
}
.title-date {
  color: #ffffff;
  opacity: 0.8;
  margin-top: -23px;
}

h1,
h4,
h5,
p,
blockquote,
strong,
span,
li,
table {
  font-family: "PublicSans";
  width: 77%;
  margin-left: 7%;
  font-weight: 400;
}
p {
  font-size: 20;
}
li {
  font-size: 18.5px;
  width: 77%;
}

.intro {
  margin-top: -20px;
  color: #222a3a;
}
h4 {
  height: 47px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;

  color: #222a3a;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: -1%;
}
h5 {
  font-size: 24px;
  font-weight: 600;
}

td,
th {
  border: 1px solid #f2f5f9;
  background-color: #ffffff;
  font-size: 14px;
  gap: 0px;
}

.privacy-footer {
  background: rgba(22, 29, 55, 1);
  padding: 60px 40px 5px 40px;
} */
