body {
    font-family: PublicSans-Regular;
    font-size: 16px;
    color: #161D37;
    position: relative;
    background: #f5faff;
}
.wrap {
    max-width: 1440px;
    padding-right: 80px;
    padding-left: 80px;
    margin: auto;
}

.mobile_wrap {
    width: 376px;
    padding-left: 20px;
    padding-right: 20px;
}

@media all and (max-width: 768px) {
    .wrap {
        max-width: 100%;
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media all and (max-width: 640px) {
    .wrap {
        max-width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }
}

.animoBorderLeftRight
{
    display:inline-block;
    position:relative;
    cursor:pointer
}
.animoBorderLeftRight::after{
    content:'';
    position:absolute;
    width:100%;
    transform:scaleX(0);
    height:2px;
    bottom:0;
    left:0;
    background-color:#ffffff;
    transform-origin:bottom right;
    transition:transform .4s cubic-bezier(.86,0,.07,1)
}
.animoBorderLeftRight:hover::after{
    transform:scaleX(1);
    transform-origin:bottom left
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  .active {
    opacity: 1;
  }

/* calculator */
input,
output {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  font-family: Arial, sans-serif;
}

/* output {
  background: #ff4500;
  padding: 5px 16px;
  border-radius: 3px;
  color: #fff;
} */

input[type="number"] {
  width: 40px;
  padding: 4px 5px;
  border: 1px solid #bbb;
  border-radius: 3px;
}

/* input[type="range"]:focus,
input[type="number"]:focus {
  box-shadow: 0 0 3px 1px #4b81dd;
  outline: none;
} */

input[type="range"] {
  -webkit-appearance: none;
  /* margin-right: 15px; */
  /* width: 200px; */
  /* height: 12px; */
  background: rgba(233, 236, 241, 1);
  /* border-radius: 5px; */
  background-image: linear-gradient(#687BFE, #687BFE);
  background-size: 0% 100%;
  background-repeat: no-repeat;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #687BFE;
  cursor: ew-resize;
  border: 10px solid #ffffff;
  box-shadow: 0 0 0 1px #687BFE;
  transition: background .3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #687BFE;
    cursor: ew-resize;
    border: 10px solid #ffffff;
    box-shadow: 0 0 0 1px #687BFE;
    transition: background .3s ease-in-out;
}

input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #687BFE;
    cursor: ew-resize;
    border: 10px solid #ffffff;
    box-shadow: 0 0 0 1px #687BFE;
    transition: background .3s ease-in-out;
}

/* input[type="range"]::-webkit-slider-thumb:hover {
  background: #ff0200;
}

input[type="range"]::-moz-range-thumb:hover {
  background: #ff0200;
}

input[type="range"]::-ms-thumb:hover {
  background: #ffff00;
} */

/* Input Track */
input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
  
}

input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

   
.slick-prev {
  top: -40px;
  right: 40px;
  left: auto;
  background-image: url(../images/icons/icons_home/vector_arrow_left.svg);
  position: absolute;
}
  
.slick-next  {
  top: -27px;
  right: 0px;
  background-image: url(../images/icons/icons_home/vector_arrow_right.svg);
  position: absolute;
}
  
.slick-arrow {
  height: 26px;
  width: 20px;
  font-size: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
}